body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100vh;
    width: 100vw;
    background-color: #E7F7FF;
    display: flex;
}
.passkey-left{
    height: 100vh;
    width: 30vw;
}
.passkey-right{
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-inside{
    height: 65vh;
    width: 50vw;
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}
.right-inside h2{
    font-size: 30px;
    font-weight: 600;
    color: #032F84;
    position: relative;
    left: 27%;
}
.right-inside p{
    height: 60px;
    width: 74%;
    background-color: #003B8B;
    color: white;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    top: 5%;
    left: 15%;
}
.passkey h6{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #003B8B;
    position: relative; 
}
.passkey{
    position: relative;
    top: 10%;
    left: 15%;
}
.passkey input{
    height: 30px ;
    width: 74% ;
    border: none;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}
.right-inside button{
    height: 10%;
    width: 30%;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    border: none;
    border-radius: 10px;
    color: white;
    position: relative;
    top: 30%;
    left: 40%;
}
.passkey-left .passkey-logo{
    height: 15%;
    width: 70%;
    position: relative;
    top: 4%;
    left: 4%;
    background: url("images/image_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.passkey-left .passkey-img{
    height: 60%;
    width: 90%;
    position: relative;
    left: 15%;
    top: 10%;
    background: url("images/verify-passkey.png");
    background-size: cover;
}